body{
    margin: 0;
}

.App{
    width: 100wh;
    height: 100vh;
    background-image: url('https://million-wallpapers.ru/wallpapers/4/51/16575476991676415824/vysokie-gory-i-les-vnizu-na-rassvete.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #fffa;
    width: 1100px;
    height: 700px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
}